/* 6594 символов + 6010 символов + 250 строк.  */
/* ------------------------- VARIABLES ------------------------- */

:root {
  --primary-text-color: #757575;
  --titles-text-color: #212121;
  --main-logo-color: #000000;
  --alternate-logo-color: #ffffff;
  --accent-logo-color: #2196f3;
  --hover-modal-btn-color: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --filter-btn-color: #f5f4fa;
  --logo-font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  --main-font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

/* ------------------------- END VARIABLES ------------------------- */

/* ------------------------- GLOBAL ------------------------- */

body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color);
  /* temporary background */
  background-color: rgb(220, 220, 220);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

/* ------------------------- END GLOBAL ------------------------- */

/* ------------------------- COMPONENTS ------------------------- */

/* ------------------------- LOGO ------------------------- */

.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-logo-color);
}

.accent-logo-color {
  color: var(--accent-logo-color);
}

.logo.alternate-logo-color {
  color: var(--alternate-logo-color);
}

/* ------------------------- END LOGO ------------------------- */

/* ------------------------- MODAL BUTTON ------------------------- */

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alternate-logo-color);
  background-color: var(--accent-logo-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-modal-btn-color);
}

/* ------------------------- END MODAL BUTTON ------------------------- */

/* ------------------------- FILTER BUTTON ------------------------- */

.filter-list-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
  background-color: var(--filter-btn-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.filter-list-btn:hover,
.filter-list-btn:focus {
  background-color: var(--accent-logo-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--alternate-logo-color);
}

/* ------------------------- END FILTER BUTTON ------------------------- */

/* ------------------------- TITLES ------------------------- */

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
}

/* ------------------------- END TITLES ------------------------- */

/* ------------------------- HEADER ------------------------- */

.nav-list-link,
.page-header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-link {
  color: var(--titles-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.page-header-contacts-link:hover,
.page-header-contacts-link:focus {
  color: var(--accent-logo-color);
}

/* ------------------------- END HEADER ------------------------- */

/* ------------------------- FOOTER ------------------------- */

.page-footer-contacts {
  font-style: normal;
}

.page-footer-contacts-list-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alternate-logo-color);
}

.page-footer-contacts-list-link {
  color: var(--footer-contacts-color);
}

/* ------------------------- END FOOTER ------------------------- */

/* ------------------------- END COMPONENTS ------------------------- */

/* ------------------------- HERO ------------------------- */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alternate-logo-color);
}

/* ------------------------- END HERO ------------------------- */

/* ------------------------- BENEFITS ------------------------- */

.benefits-list-item-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-text-color);
}

.benefits-list-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ------------------------- END BENEFITS ------------------------- */

/* ------------------------- SERVICES ------------------------- */

/* ------------------------- END SERVICES ------------------------- */

/* ------------------------- TEAM ------------------------- */

.team-list {
  text-align: center;
}

.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
}

.team-list-item-work-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* ------------------------- END TEAM ------------------------- */

/* ------------------------- PORTFOLIO ------------------------- */

.projects-list-item-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-text-color);
}

.projects-list-item-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ------------------------- END PORTFOLIO ------------------------- */
