/* 
пример хорошего цсс
.selector,
.selector-secondary,
.selector[type="text"] {
  padding: 15px;
  margin: 0 0 15px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
}
*/

/* 
Объявления логически связанных свойств должны быть сгруппированы в следующем порядке:

1. Позиционирование
2. Блочная модель
3. Типографика
4. Отображение
 */

:root {
  --primary-text-color: #757575;
  --titles-text-color: #212121;
  --main-logo-color: #000000;
  --alternate-logo-color: #ffffff;
  --accent-logo-color: #2196f3;
  --hover-modal-btn-color: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --filter-btn-color: #f5f4fa;
}

body {
}
